<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
	<title>Quizz</title>
	<link rel="stylesheet" href="public/css/global.css">
	<script src="node_modules/angular/angular.js"></script> 
	<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="node_modules/angular-aria/angular-aria.js"></script> 
	<script src="node_modules/angular-animate/angular-animate.js"></script> 
	<script src="node_modules/angular-material/angular-material.js"></script> 
	<script src="public/js/app.js"></script> 
	<script src="public/js/controllers/homeController.js"></script> 
	<script src="public/js/controllers/mainController.js"></script>
	<script src="node_modules/socket.io-client/socket.io.js"></script>
	<script src="public/js/services/socketService.js"></script>
	<script src="public/js/services/videoService.js"></script>
</head>
<body ng-app="App">
	<div ui-view></div>
</body>
</html>