body {
	background-color: #ff6347;
	color: white;
}

.title {
	text-align: center;
}

.header {
	height: 20%;
}

.logo {

}

.avatar {
	width:100px;
    margin: 10px;
    border:8px solid white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.players {
	margin-left: 15%;
	margin-right: 15%;
}

.footer {
	margin-bottom: 0%;
}